#2a7ae2{
	color: rgb(42, 122, 226);
}
 #f44336{
	 color: rgb(244, 67, 54);
 }
#4caf50{
	color: rgb(76, 175, 80);
}
 #ff9800{
	color: rgb(255, 152, 0); 
 }
#607d8b{
	color: rgb(96, 125, 139);
}
#ffeb3b{
	color: rgb(255, 235, 59);
}